@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: black;
    font-weight: 500;
  }
  form {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin: 40px 0 20px;
    input[type="text"] {
      width: 100%;
      outline: 0;
      border: 0;
      padding: 0.25rem 0.75rem;
      font-size: 1.35rem;
      border-radius: 5px;
    }
    button[type="submit"] {
      outline: 0;
      border: 0;
      padding: 0.25rem 0.75rem;
      font-size: 1.35rem;
      border-radius: 5px;
      background-color: #a3a4d6;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(0.98);
        color: rgb(240, 240, 240);
        background-color: #bda4d6;
      }
      &:active {
        transform: scale(0.96);
      }
    }
  }
  ul {
    width: 60%;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      margin: 5px;
      font-size: 1.25rem;
      padding: 0.25rem 0.75rem;
      border-radius: 7px;
      .text {
        display: flex;
        align-items: center;
        input[type="text"] {
          outline: 0;
          border: 0;
          font-size: 1.25rem;
          cursor: auto;
        }
        input[type="checkbox"] {
          appearance: none;
          outline: 0;
          border: 2px solid rgb(41, 245, 23);
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 15px;
          cursor: pointer;
          &:checked {
            background-color: rgb(41, 245, 23);
          }
        }
      }
      .btn {
        display: flex;
        button {
          background-color: transparent;
          outline: 0;
          border: 0;
          cursor: pointer;
          font-size: 22px;
        }
        .edit-button {
          margin-right: 5px;
        }
        i {
          pointer-events: none;
        }
      }
    }
  }
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
